<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
  </head>
  <body>
  <h1>Add An Employee!</h1>
<div class="container">
<form action="" method="POST">{%  csrf_token %}
    <div class="mb-3">
       <label  for="Firstname" class="form-label">Firstname</label>
       <input  type="text" class="form-control" id="Firstname" name="firstname" value="{{ first_name }}">
    </div>

    <div class="mb-3">
        <label  for="Lastname" class="form-label">Lastname</label>
        <input  type="text" class="form-control" id="Lastname" name="Lastname" value="{{ Last_name }}">
    </div>
    <div class="mb-3">
       <label  for="department" class="form-label">Department</label>
       <input  type="text" class="form-control" id="department" value="{{ dept_id }}" name="department">
    </div>
    <div class="mb-3">
       <label  for="salary" class="form-label">Salary</label>
       <input  type="text" class="form-control" id="salary" value="{{ salary }}" name="salary">
    </div>
    <div class=""mb-3">
       <label  for="bonus" class="form-label">Bonus</label>
       <input  type="text" class="form-control" id="bonus" value="{{ bonus }}" name="bonus">
    </div>
    <div class=""mb-3">
       <label  for="role" class="form-label">Role</label>
       <input  type="text" class="form-control" id="role" value="{{ role }}" name="role">
    </div>
    <div class=""mb-3">
       <label  for="phone.no" class="form-label">Phone number</label>
       <input  type="text" class="form-control" id="phone.no" value="{{ phone }}" name="phone">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>