<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
4
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
        <h1>Office Employee Management system!</h1>
        <a class="btn btn-primary" href="{%  url 'all_emp' %}" role="button">View All Employee</a>
        <a class="btn btn-primary" href="{%  url 'add_emp' %}" role="button">Add Employee</a>
        <a class="btn btn-primary" href="{%  url 'remove_emp' %}" role="button">Remove Employee</a>
        <a class="btn btn-primary" href="{%  url 'filter_emp' %}" role="button">Filter Employee </a>
  <br>
  <br>
  <br>












</body>
</html>